@font-face {
    font-family: boldFont;
    src: url(./fonts/Sora-Medium.ttf);
}

button{
    border: none;
    background-color: transparent;
}

body{
    background-image: url(./photos/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: boldFont;
    cursor: url(./photos/cursor1.png), auto;
}

.content{
    display: flex;
    justify-content: center;
}

.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: #8E4740;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 80px;
}

.container{
    display: grid;
    width: 400px;
    height: 450px;
    grid-gap: 1px 1px;
    border: 8px solid #FCDEAC;
    background-color: #F3B6B1;
    margin-top: 16px;
}

.item{
    padding: 1px;
}

.pressed{
    background-color: white;
}

div.item:hover{
    background-color: #FCDEAC;
}

.sliderDiv{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F3B6B1;
    cursor: url(./photos/cursor1.png), auto;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: #FEF9F7;
    border-radius: 5px;
    outline: none;
    cursor: url(./photos/cursor1.png), auto;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px;
    height: 25px; 
    background: #F3B6B1; 
    border-radius: 100%;
    cursor: url(./photos/cursor2.png), auto;
  }

  .val{
      margin-left: 10px;
  }

  .buttons{
      display: flex;
      flex-direction: column;
      margin-top: 60px;
  }

  .clear{
      background-image: url(./photos/button1.png);
      background-repeat: no-repeat;
      background-size: 150px 50px;
      width: 150px;
      height: 50px;
      font-family: boldFont;
      color: #8E4740;
      font-size: 16px;
      cursor: url(./photos/cursor2.png), auto;
  }




